<!DOCTYPE html>
<html lang="en" ng-app="music">
    <head>
        <title>Website</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="container" ng-controller="MusicianController">
            <div id="header">
                <h1>Music App.</h1>
                <div class="row" id="navContainer">
                    <div id="nav">
                        <p>Artist</p>
                    </div>
                    <div id="nav">
                         <p>Genre</p>
                    </div>
                    <div id="nav">
                         <p>Albums</p>
                    </div>
                    <div id="nav">
                        <p>Songs</p>
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="row" id="artistContainer" ng-repeat="m in musicians">
                    <div id="artist">
                        <p>
                            {{m.name}} <br /> <button class="btn btn-default" ng-click="$parent.remove(m)">Delete Entry</button
                        </p>
                    </div>
                    <div id="genre">
                        <a href="#" >
                            {{m.genre}}
                        </a>
                    </div>
                    <div id="albums">
                        <a href="#" >
                            {{m.albums}}
                        </a>
                    </div>
                    <div id="songs">
                        <a href="#">
                            {{m.songs}}
                        </a>
                    </div>
                </div>
            </div>
            <div id="footer">
                <form class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-default" ng-click>Show All Artists</button>
                        </div>
                        <div class="form-group">
                            <label for="inputArtist">Artist</label>
                            <input type="text" ng-model="name" class="form-control" id="inputArtist" placeholder="Henry Henderson">
                        </div>
                        <div class="form-group">
                            <label for="inputGenre">Genre</label>
                            <input type="text" ng-model="genre" class="form-control" id="inputGenre" placeholder="Rock">
                        </div>
                        <div class="form-group">
                            <label for="inputAlbum">Albums</label>
                            <input type="text" ng-model="albums" class="form-control" id="inputAlbums" placeholder="Album">
                        </div>
                        <div class="form-group">
                            <label for="inputSongs">Songs</label>
                            <input type="text" ng-model="songs" class="form-control" id="inputSongs" placeholder="Andy Get Your Gun">
                        </div>
                        <button type="submit" class="btn btn-default" ng-disabled="!(name.length && genre.length && albums.length && songs.length)" ng-click="add()">Add</button>
                    </form>
            </div>
        </div>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
		</script>
		<script src='music.js'></script>
    </body>
</html>